/* General */

html { 
  height: 100%; 
  background-color: #f6f6f6;
  background-image:  linear-gradient(#ededf3 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(to right, #ededf3 0.7000000000000001px, #f6f6f6 0.7000000000000001px);
  background-size: 14px 14px;
}

/* Fonts / colors / links */

.bgimg {
  height: 17rem;
  background-image: url("bg1.jpg");
}

p {
  color: #505050;
  line-height: 1.75rem;
}

::selection {
  background: #f1a6b6;
}

a, a:hover {
  color: #3494b9;
  text-decoration: none;
}

.form-control:focus {
  border-color: #f8c6c6;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

/* Navbar */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image:  linear-gradient(#ededf3 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(to right, #ededf3 0.7000000000000001px, #f6f6f6 0.7000000000000001px);
  background-size: 14px 14px;
  padding: 1rem 6rem;
}
  
button {
  background-color: #3494b9;
  color: white;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 1.5rem;
  width: 5rem;
  font-weight: 600;
}
  
.list {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  column-gap: 40px;
  padding: 0;
  align-items: center;
}

dl, ol, ul {
  margin: 0;
}
  
.listItem {
  width: min-content;
  white-space: nowrap;
}
  
nav a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
  
nav a:hover {
  color: black;
}
  
.hamburger {
  display: none;
}

/* Hero area */

.hero {
  padding: 4rem 1rem;
  color: white;
}

.hero h1 {
  font-size: 4.5rem;
  font-family: 'Roboto Mono', monospace;
  color: #3494b9;
}

/* Sidebar */

.right-line {
  border-right: 1px solid #EEE;
}

/* Main content */

.transp {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: .5rem;
  border: 1px solid rgba(255, 255, 255, 0.158);
  padding: 1rem;
  background-color: rgb(255, 255, 255, 0.1);
}

.transp a h3 {
  color: #3494b9;
}

/* Footer */

.footer {
  margin-top: 4rem;
  padding: 1.5rem 0;
  background-image: url("bg1.jpg");
  color: white;
}

.footer a {
  color: white;
}

/* MQ */

@media screen and (max-width: 750px) {
  div.bggradient {
    height: 14rem;
    background-image: url("bg1.jpg");
  }
}

@media screen and (max-width: 754px) {
  div.hero h1 {
    font-size: 3.5rem;
    font-family: 'Roboto Mono', monospace;
    color: #3494b9;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 459px) {
  div.hero h1 {
    font-size: 3rem;
  }
}
  
@media screen and (min-width: 901px) {
  .menu {
    display: block !important;
  }
}
  
@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
    padding: 20px;
  }

  .mobileHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }

  .menu {
    display: none;
  }

  .list {
    grid-auto-flow: row;
    list-style-type: none;
    row-gap: 40px;
    column-gap: 0;
    justify-items: center;
  }
}
