/* START */

html, body{ height: 100%; } 

.bggradient {
    height: 10rem;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.container-top-space {
    padding-top: 8rem;
}

.transp {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.158);
    padding: 1rem;
}

.footer {
    margin-top: 4rem;
}